body{
    margin:0;
    background-color: hsl(80, 15%, 80%);
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.pageWrapper{
    display:grid;
    grid-template-rows: 1fr 4fr;
}

.headerWrapper{
    display: grid;
    text-align: center;
    height: 250px;
    grid-row: 1/2;
    background-color: hsl(0, 0%, 90%);
}

.logo{
    background-color: hsl(350, 48%, 87%);
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
}
.logo img{
    width: 150px;
    height: 150px;
    padding: 1rem;
    border: dashed hsl(0, 100%, 50%);
}

.title{
    background-color: hsl(350, 48%, 87%);
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.gameWrapper{
    grid-row: 2/3;
    height: 100%;
    background-color: hsl(80, 15%, 80%);
    display: grid;
    grid-template-columns: repeat(3, clamp(50xp, 100% , 500px));
    grid-template-rows: repeat(3, clamp(50xp, 100% , 500px));
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: hsl(80, 15%, 70%);
}

.gameBox{
    padding: 1rem;
    box-shadow: inset 0 0 0.8em  rgba(0, 0, 0, 1);
    height: 150px;
    width: 150px;
}