body{
    margin:0;
    background-color: hsl(80, 15%, 80%);
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.pageWrapper{
    display:grid;
    grid-template-rows: 1fr 4fr;
}

.headerWrapper{

    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
    height: 400px;
    grid-row: 1/2;
    background-color: hsl(0, 0%, 90%);
}

.logo{
    background-color: hsl(350, 48%, 87%);
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
}
.logo img{
    width: 150px;
    height: 150px;
    padding: 1rem;

}

.title{
    background-color: hsl(350, 48%, 87%);
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* .title p:hover{
    transform: translate(5px, -5px) rotate(360deg);
    color: red;
    transition: 0.8s;
    font-size: 24px;
} */

.gameWrapper{
    grid-row: 2/3;
    height: 100%;
    background-color: hsl(80, 15%, 80%);
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background-color: hsl(80, 15%, 70%);
}